@keyframes show-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  position: fixed;
  background-image: url('./../../../public/8_image_small.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 871px;
  max-height: 500px;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  padding: 44px 48px;
  animation: show-popup 1s;
  transition: opacity 0.5s ease;
}

.popupTitle {
  font-family: var(--font-zrnic);
  font-weight: 400;
  font-style: Normal;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 541px;
  color: #060606;
}

.popupDescription {
  font-family: var(--font-zrnic);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #060606;
  margin: 12px 0 16px 0;
  max-width: 510px;
}

.closeButton {
  position: absolute;
  right: 50px;
  top: 20px;
}

.formInputs {
  display: flex;
  gap: 32px;
}

.formInputs input {
  max-width: 266px;
  width: 100%;
  height: 52px;
  background: #fdfeff;
  padding: 17px 0 17px 20px;
  border: 1px solid #1e293b;
  border-radius: 20px;
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1e293b;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 13px;
}

.inputCheckbox {
  display: none;
}

.customCheckbox {
  display: inline-block;
  background: #fff;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: background 0.3s ease;
  padding: 10px;
}

.inputCheckbox:checked + .customCheckbox {
  background: black;
}

.checkboxText {
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.checkboxText a {
  text-decoration: underline;
  color: #000;
}

.signUp {
  max-width: 473px;
  display: flex;
  justify-content: right;
  margin-top: 8px;
}

.formErrors {
  display: flex;
  justify-content: space-between;
  max-width: 530px;
  margin-top: 8px;
}

.formErrors p {
  font-size: 14px;
  font-family: var(--font-comfortaa);
  color: red;
  max-width: 300px;
}

.success {
  color: green;
  font-family: var(--font-comfortaa);
  margin-top: 10px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .popupTitle {
    font-size: 40px;
  }
  .popupDescription {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .popup {
    height: 420px;
  }
  .popupTitle {
    font-size: 32px;
  }
  .popupDescription {
    font-size: 24px;
  }
  .checkboxText {
    font-size: 14px;
    max-width: 294px;
  }
  .success {
    font-size: 14px;
  }
  .signUp {
    justify-content: center;
    margin-top: 12px;
  }
}

@media (max-width: 565px) {
  .popup {
    height: 500px;
  }
  .formInputs {
    flex-direction: column;
  }
  .formInputs input {
    max-width: 300px;
  }
  .popupTitle {
    font-size: 28px;
  }
  .popupDescription {
    font-size: 20px;
  }
}
